<p-panel header="Basics Pipes" class="p-2">
  <p>
    Pipes from Angular - Usually on Common Module
  </p>
</p-panel>

<div class="grid">
  <div class="col-12 md:col-4">
    <p-card header="uppercase">
      {{nameUpper | uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="lowercase">
      {{nameLower | uppercase}}
    </p-card>
  </div>

  <div class="col-12 md:col-4">
    <p-card header="titlecase">
      {{nameTitle | titlecase}}
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="date">
      <ol>
        <li>date</li>
        <li>date | date:'short'</li>
        <li>date | date:'long'</li>
        <li>date | date:'MMMM'</li>
        <li>date | date:'MMMM dd, yyyy'</li>
      </ol>

      <hr>

      <ol>
        <li>date | date:'long':'GMT-6'</li>
        <li>date | date:'long':'GMT-4'</li>
        <li>date | date:'long':'':'es-HN'</li>
        <li>date | date:'long':'':'en-US'</li>
        <li>date | date:'long':'':'fr-CA</li>
      </ol>
    </p-card>
  </div>

  <div class="col-12 md:col-6">
    <p-card header="date">
      <ol>
        <li>{{customDate}}</li>
        <li>{{customDate | date:'short'}}</li>
        <li>{{customDate | date:'long'}}</li>
        <li>{{customDate | date:'MMMM'}}</li>
        <li>{{customDate | date:'MMMM dd, yyyy'}}</li>
      </ol>

      <hr>

      <ol>
        <li>{{customDate | date:'long':'GMT-6'}}</li>
        <li>{{customDate | date:'long':'GMT-4'}}</li>
        <li>{{customDate | date:'long':'':'es-HN'}}</li>
        <li>{{customDate | date:'long':'':'en-US'}}</li>
        <li>{{customDate | date:'long':'':'fr-CA'}}</li>
      </ol>
    </p-card>
  </div>
</div>
